<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>
      <span class="li-icon">{% include svg/pin-alt.svg %}</span
      ><a rel="me" href="https://mastodon.social/@Zeechi">Mastodon</a>
    </li>
    <li>
      <span class="li-icon">{% include svg/mail.svg %}</span
      ><a href="mailto:Z@zacharyellison.net">Z@zacharyellison.net</a>
    </li>
    <li>
      <span class="li-icon">{% include svg/internet.svg %}</span
      ><a href="https://zacharyellison.net">https://zacharyellison.net</a>
    </li>
  </ul>
</div>
