---
layout: default
---
<article>
{% include header.html %}
    <main>
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
        {%- for post in site.posts -%}
            {%- if post.archive == False -%}
                <h2>
                    <a href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h2>
                <span>Posted:
                    {{ post.date | date: date_format }}
                </span>
                <br/>
                <span>{{ post.lead }}</span>
                <br/>
            {%- endif -%}
        {%- endfor -%}
    </main>
{% include footer.html %}
</article>